{% extends "model_workbench_single.html" %}
{% block model_kicker %}Analytical Toolbox{% endblock %}
{% block model_title %}Liedl 3D - Single Simulation{% endblock %}
{% block conceptual_image %}{{ url_for('static', filename='images/conceptual_liedl_3d.png') }}{% endblock %}
{% block conceptual_alt %}Conceptual model diagram for Liedl 3D{% endblock %}
{% block model_about_link %}<a class="ghost-btn model-workbench-back" href="{{ url_for('model_about', slug='liedl3d') }}">About</a>{% endblock %}
