{% extends "model_workbench_multiple.html" %}
{% block model_kicker %}Empirical Toolbox{% endblock %}
{% block model_title %}Maier &amp; Grathwohl - Multiple Simulation{% endblock %}
{% block toolbox_href %}{{ url_for('empirical_bp.empirical_landing') }}{% endblock %}
{% block toolbox_label %}All empirical models{% endblock %}
{% block conceptual_image %}{{ url_for('static', filename='images/conceptual_maier.png') }}{% endblock %}
{% block conceptual_alt %}Conceptual model diagram for Maier &amp; Grathwohl{% endblock %}
